@import '../../../node_modules/normalize.css/normalize';
@import './var.scss';
body {
    font: 14px/1.4286 "PingFang SC", "STHeitiSC-Light", "Helvetice-Light", arial, sans-serif;
}
input,select,button{
    font: inherit;
}
.clearfix:after{
    content:'';
    display: table;
    clear: both;
}
a{
    color:#fff;
    text-decoration: none;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
h1,h2,h3,h4,p{
    margin:0;
}
body{
    background-color:$dayBg;
    color:$day-color;
}
//移动端1像素 
@media (-webkit-min-device-pixel-ratio: 1.5),(min-devicp-pixel-ratio: 1.5) {
    .border-1px{
        &:after{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7)
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-devicp-pixel-ratio: 2) {
    .border-1px{
        &:after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5)
        }
    }
}
@font-face {
  font-family: 'iconfont';  /* project id 243760 */
  src: url('//at.alicdn.com/t/font_0d9h60vib9996bt9.eot');
  src: url('//at.alicdn.com/t/font_0d9h60vib9996bt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0d9h60vib9996bt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_0d9h60vib9996bt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0d9h60vib9996bt9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.better-scroll{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}