
// 晚上
$nightBg:#111214;
$nightTheme:#17181a;
$night-color:#adaeb3;
$night-border: #18191a;
$night151618: #151618;
$night3e3f43: #3e3f43;
$night75777e: #75777e;
%bg{
    background-color:$nightTheme;
}
%color1{
  color:#535458;
}
%color2{
  color:$night-color;
}
.night{
    background-color:$nightBg;
    color:$night-color;
    .header{
        @extend %bg;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
        .header-nav{
            .list{
                 @extend %color1;
                &.on{
                    @extend %color2;
                }
            }
        }
    }
    .usersuv{
        .usersuv-list{
            color:#707178;
            .iconfont{
                color:#5d5d63;
            }
            .content{
                &:after{
                    border-color:#1c1d1f;
                }
                .number{
                    color:#888787;
                }
            }
        }
    }
    .sheet-item{
        .sheet-title{
            background-color:$night151618;
        }
        .item-text.item-text{
            .item-title{
                color: $night75777e;
            }
            p{
              color: $night3e3f43;
            }
            &:after{
                border-color: $night-border;
            }
        }
    }
}